body {
    background-color: #000;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    box-sizing: border-box;  
}
.nav-container {
    display: flex;
    flex-direction: row;
    width: 80px;
}
.side-nav {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 100%;
    position: fixed;
    border-right: #25252c 1.5px solid;
    background-color: #0c0c14;
}
.logo-side-nav {
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #ff9301;
}
.logo-letter {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
}
.top-bar {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 35px;
    font-size: 0.9rem;      
}
.top-bar-info{
    display: flex;
    flex-direction: row;
}
.top-bar-contact:first-child{
    padding-left: 30px;
}
.top-bar-contact{
    font-weight: 400;
    transition: all 0.3s linear;
    width: 200px;
}
.top-bar-contact:hover{
    cursor: pointer;
    color: #ff9301;
}
.top-bar-language{
    display: flex;
    flex-direction: row;
    margin-left: 1100px;
    z-index: 100;
}
.box-en{
    height: 20px;
    background-color: #ff9301;
    padding: 5px 8px 5px 8px;
}
.box-en:hover{
    cursor: pointer;
}
.box-fr{
    height: 20px;
    background-color: #000;
    padding: 5px 8px 5px 8px;
    margin-left: 8px;
}
.box-fr:hover{
    cursor: pointer;
    background-color: #ff9301;
}
.nav-links{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    padding-top: 55px;
}
.icone-nav{
    color: #fff;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;      
}
.menu-side-nav{
    border-bottom: #25252c 1.5px solid;
    text-align: center; 
    display: flex;
    align-items: center; 
    height: 70px;   
}
.menu-side-nav:last-child{
    border: 0; 
}
.menu-side-nav:nth-child(2){
    margin-top: 40px;
}
.menu-side-nav:hover{
    cursor: pointer;
}
#home-banner{
    margin: 0;
    padding-bottom: 300px;
    background-image: url("../img/home-banner.png");
    background-repeat: no-repeat;
    background-position: right; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}
.home-main-text{
    padding-top: 230px;
    padding-left: 480px;   
}
.header-hello{
    font-size: 20px;
    font-weight: 300;
    margin: 0;  
    margin-bottom: 10px;    
}
.header-name{
    font-size: 80px;
    margin: 0;
    margin-bottom: 10px;
}
.header-orange{
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
    color: #ff9301;
}
.home-about-me{
    font-size: 16px;
    font-weight: 100;
    line-height: 30px;
    margin: 0;
}
.cv-button{
    padding: 15px;
    width: 180px;
    font-size: 15px;
    font-weight: 600;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 0px;
    margin-top: 10px;
    transition: all 0.2s linear;
}
.cv-button:hover{
    background-color: transparent;
    color: #fff;
    border: #fff solid 1px;
    cursor: pointer;
}
.lighter-big-box{
    width: calc(100%-80px);
    background-color: #0e0e17;  
}
#biography-container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #0e0e17;
    padding-left: 80px;
    padding-top: 60px;
    flex-wrap: wrap;
}
.biography-img{
    margin-top: 20px;
    margin-right: 40px;
    text-align: center;
    position: relative;
}
.icones-circle{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}
.icon{
    width:33px;
    height: 33px;
    border-radius: 50%;
    border: 2px #fff solid;
    color: #fff;
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;   
    transition: all 0.3s linear;
    position: absolute;
    background-color: #000;  
}
.icon-1{
    top: 308px; 
    left: 60px;
}
.icon-2{
    top: 328px; 
    left: 110px;
}
.icon-3{
  top: 340px;  
}
.icon-4{
    top: 328px; 
    right: 110px;
}
.icon-5{
    top: 308px; 
    right: 60px;
}
.icon:hover{
    background-color: #ff9301;
    cursor: pointer;
}
.biography-main-text{
    margin-top: 20px;
    margin-left: 40px;  
}
.biography-radius-img{
    border-radius: 50%;
    border: #ff9301 5px solid;
    width: 346px;
}
.h1-bio{
    margin-bottom: 30px;
    background-color: transparent;
}
.p1-biography{
    line-height: 29px;
    font-size: 15px;
    color: hsla(0,0%,100%,.8);
}
.p-radius-img{
    color: hsla(0,0%,100%,.8);
    margin-top: 30px;
}
.bio-contact-details{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.span-details-letters{
    margin-left: 7px;
    font-weight: 100;
}
.seperate-border{
    background-image: url("../img/border-dark.png");
    padding-top: 80px;
    height: 80px;
    width: 100%;
    padding-bottom: 80px;
    background-repeat: repeat-x;
    background-size: auto 6px;
    background-position: center;
    filter: invert(1);
    margin-left: auto;
    margin-right: auto;
}
.biography-position{
    position: relative;
    z-index: 1;
}
.orange-circle{
    background-color: #ff9301;
    opacity: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    left: -7px;
    bottom: 5px;
    z-index: -1;
}
.about-small-box{
    width: calc(100%-80px);
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}
.about-info-1{
    width: 270px;
    height: 250px;
    background-color: #010101;
    padding: 34px;
    padding-bottom: 67px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.seperate-border-2{
    background-image: url("../img/border-dark.png");
    padding-top: 80px;
    height: 80px;
    width: 60%;
    padding-bottom: 80px;
    background-repeat: repeat-x;
    background-size: auto 6px;
    background-position: center;
    filter: invert(1);
    margin-left: auto;
    margin-right: auto;
}
.about-icon{
    font-size: 40px;
    margin-top: 30px;
}
.h2-about{
    font-weight: 300;
    margin-top: 40px;
}
.p-about{
    line-height: 27px;
}
.awards-1{
    background-color: #010101;
    width: 335px;
    height: 80px;  
    display: flex;
    flex-direction: row; 
}
.inside-awards{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.h-awards{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    line-height: 5px;
}
.p-awards{
    color: hsla(0,0%,100%,.8);
}
.img-awards{
    height: 80px;
}
.testimonials-1{
    width: 49%;
    height: 200px; 
    background-color: #010101;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.img-testimonials{
   border-radius: 50%;
   height: 50%;
   margin-top: 35px;
}
.p-testimonials{
    line-height: 30px;
    padding-bottom: 20px;
}
#dark-section-2{
    background-color:#010101;
    margin-top: 120px;
    padding-top: 50px;
}
.experience-container{
    display: flex;
    flex-wrap: wrap;
}
.experience-1{
    background-color: #0b0b13;
    width: 100%;
    height: 170px;
    margin-bottom: 20px;
    padding: 30px;
}
.exp-full-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.exp-part-1{
    width: 20%;
}
.exp-part-2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
}
.exp-border{
    border-left: solid 1px #25252c
}
.exp-time-orange-border{
    background-color: #ff9301;
    width: 80px;
    height: 30px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    padding-top: 10px;
}
.p-exp{
    line-height: 30px;
    margin-top: 0;
}
.h3-experience{
    margin-bottom: 10px;
}
.edu-skills-container{
    display: flex;
    flex-direction: row;
}
.edu-skills-1{
    background-color: #0b0b13;
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 380px;
}
.p-edu-skills{
    margin: 0;
}
.p-edu-padding{
    padding-top: 40px;
}
.edu-skills-2{
    display: flex;
    flex-direction: row;
    width: 50%;
    padding: 30px;
}
.white-percents{
    color: #fff;
}
.p-percents{
    font-size: 30px;
    margin-bottom: 70px; 
    display: flex;  
}
.line{
    position: relative;
    margin-bottom: 60px;
    width: 100%;
}
.line-1{
    border-bottom: #333 9px solid;
    width: 100%;
}
.line-2{
    position: absolute;
    border-bottom: #ff9301 9px solid;
    width: 92%;
    bottom: 0px;
}
.edu-lines{   
    padding-left: 20px;
    width: 400px;
}
.line-shorter-2{
    width: 85%;
}
.line-shorter-3{
    width: 90%;
}
.line-shorter-4{
    width: 88%;
}
.lighter-section-2{
    background-color: #0e0e17;
    padding-top: 40px;
}
.nav-portfolio{
    width: 40%;
    padding-top: 30px;
}
.ul-portfolio{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}
.li-portfolio:first-child{
    text-decoration: underline #ff9301 3px;
}
.li-portfolio{
    cursor: pointer;
}
.portfolio-galery{
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.galery-col-1{
    display: flex;
    flex-direction: column;
}
.img-container {
    display: flex;
    background-color: #0e0e17;
    width: 96%;
    position: relative;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}
.img-container:hover{
    transform: scale(1);
}
.img-container .overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 0;
    height: 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
}
.img-container:hover .overlay{
    cursor: pointer;
    width: 96%;
    height: 100%;
    opacity: 1;
}
.galery-img{
    width: 96%;  
}
.overlay-h{
    margin-left: 30px;
    margin-top: 60px;
}
.overlay-p{
    margin-left: 30px;   
}
#dark-section-3{
    background-color:#010101;
    margin-top: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.blog-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.blog-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.blog-img{
    width: 96%;
}
.blog-p{
    color: hsla(0,0%,100%,.8);
    font-size: 15px;
}
.blog-p-2{
    font-size: 20px;
    line-height: 30px;
}
.blog-p-2:hover{
    text-decoration: underline #fff solid 2px;
    cursor: pointer;
}
#lighter-section-3{
    background-color: #0e0e17;
    padding-top: 40px;
}
.contact-section-container{
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-text, .contact-form{
    padding-top: 30px;
}
.contact-text-section-icon{
    display: flex;
    flex-direction: row;
}
.contact-icon{
    color: #ff9301;
    padding-right: 30px;
    font-size: 25px;
    margin-top: 19px;
}
.section-icon-box{
    padding-top: 20px;
}
.p-contact-icon{
    font-size: 19px;
    font-weight: 400;
}
.input-section{
   flex-wrap: wrap;
   display: flex;
   justify-content: space-between;
   width: 600px; 
}
.input-1{
    width: 45%;
    height: 30px;
    background-color: #0e0e17;
    border: 1px solid #57575d;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.input-2-subject{
    width: 100%;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    background-color: #0e0e17;
    border: 1px solid #57575d;
}
.textarea-1{
    width: calc(100% - 10px);
    max-width: calc(100% - 10px);
    min-width: calc(100% - 10px);
    height: 30px;
    min-height: 25px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: #0e0e17;
    border: 1px solid #57575d;
    font-size: 16px;
}
.form-button{
    font-size: 16px;
}






